---
import { GoogleAnalytics } from "astro-google-analytics";
interface Props {
  title: string;
  description: string;
  type: string;
  keywords: string[];
  url?: URL;
  ogp?: URL;
  robots?: string;
  canonical?: URL;
  modifiedDate?: Date;
  publishedDate?: Date;
}

import Feed from "../components/icon/Feed.astro";
import Github from "../components/icon/Github.astro";
import Twitter from "../components/icon/Twitter.astro";
import SiteIcon from "../components/SiteIcon.astro";
import { astroURL, getGitHubUrl, getTwitterUrl, getZennUrl } from "../lib/url";

const { title, description, type, keywords, ogp, robots, canonical, url, modifiedDate, publishedDate } = Astro.props;

const schema = {
  "@context": "https://schema.org",
  "@type": type,
  name: title,
  description: description,
  keywords: keywords,
  url: url ?? astroURL(Astro).url,
  image: ogp ? ogp.href : astroURL(Astro).file("/ogp.png"),
  author: {
    "@type": "Person",
    name: import.meta.env.SITE_AUTHOR_NAME,
    url: astroURL(Astro).dir("/"),
  },
  datePublished: publishedDate ?? modifiedDate ?? undefined,
  dateModified: modifiedDate ?? publishedDate ?? undefined,
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": url ?? astroURL(Astro).url,
  },
  sameAs: [getZennUrl(), getTwitterUrl(), getGitHubUrl()].filter((url) => url !== undefined),
};
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href={`${astroURL(Astro).file("/favicon.ico")}`} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(",")} />
    <meta property="og:type" content={ogp ? "article" : "website"} />
    <meta property="og:site_name" content={import.meta.env.SITE_NAME} />
    <meta property="twitter:card" content={ogp ? "summary_large_image" : "summary"} />
    <meta property="og:url" content={url ?? astroURL(Astro).url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content="ja_JP" />
    <GoogleAnalytics id={import.meta.env.GA_MEASUREMENT_ID} />
    <meta property="og:image" content={ogp ? ogp.href : astroURL(Astro).file("/ogp.png")} />
    {robots && <meta name="robots" content={robots} />}
    <link rel="canonical" href={canonical ?? url ?? astroURL(Astro).url} />
    <link rel="sitemap" type="application/xml" href=`${ astroURL(Astro).file("/sitemap-index.xml")}` />
    <link rel="alternate" type="application/rss+xml" title="新着記事" href=`${ astroURL(Astro).file("/feed.xml")}` />
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    <title>{title}</title>
  </head>

  <body>
    <header>
      <aside class="site-header">
        <nav>
          <a href=`${import.meta.env.BASE_URL}` class="site-logo">
            <div class="site-icon" style={`border-radius: ${import.meta.env.SITE_ICON_RADIUS}`}>
              <SiteIcon text={import.meta.env.SITE_ICON} alt={`${import.meta.env.SITE_NAME}のアイコン`} />
            </div>
            <p class="site-name">{import.meta.env.SITE_NAME}</p>
          </a>
          <div class="site-nav">
            {
              import.meta.env.GITHUB_USER_NAME && (
                <a href={`https://github.com/${import.meta.env.GITHUB_USER_NAME}`} target="_blank">
                  <div class="external-icon">
                    <Github />
                  </div>
                </a>
              )
            }
            {
              import.meta.env.TWITTER_USER_NAME && (
                <a href={`https://twitter.com/${import.meta.env.TWITTER_USER_NAME}`} target="_blank">
                  <div class="external-icon">
                    <Twitter />
                  </div>
                </a>
              )
            }
            <a href={astroURL(Astro).file("/feed.xml")} target="_blank">
              <div class="external-icon">
                <Feed />
              </div>
            </a>
          </div>
        </nav>
      </aside>
    </header>
    <slot />
    <footer>
      <div class="site-footer">
        <p>© {new Date().getFullYear()} {astroURL(Astro).url.hostname}</p>
      </div>
    </footer>
  </body>
</html>

<style>
  html {
    height: 100%;
    font-family: "Meiryo", "sans-serif", "Segoe UI Emoji";
  }

  body {
    height: 100%;
    margin: 0;
    line-height: 1.6;
    background: #edf2f7;
    color: #000000d1;
    word-break: break-word;
    word-wrap: break-word;
    line-break: strict;
  }

  header {
    background: #ffffff;
    padding: 8px 16px;
    top: 0;
    border-bottom: 1px solid #e4edf4;
  }

  @media (max-width: 576px) {
    header {
      padding: 8px;
    }
  }

  footer {
    position: sticky;
    top: 100vh;
    margin: 40px 0 0 0;
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }

  .site-header,
  .site-footer {
    max-width: 1120px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-logo {
    display: inline-flex;
    padding: 10px;
  }
  .site-icon {
    width: 35px;
    height: 35px;
    overflow: hidden;
  }
  .site-name {
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto 0 auto 10px;
  }

  .site-nav {
    display: flex;
  }

  .external-icon {
    color: #65717b;
    padding: 8px;
    width: 42px;
    height: 42px;
  }
</style>

<style is:global>
  a {
    color: #000000d1;
    text-decoration: none;
  }
  ol,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }
</style>
