---
import "zenn-content-css";
import Articles from "../components/Articles.astro";
import Pagination from "../components/Pagination.astro";
import Layout from "../layouts/Layout.astro";
import { astroURL } from "../lib/url";
import { getArticleData, getRelatedTopics, pageSplit } from "../lib/zenn";

export const getStaticPaths = async () => {
  const data = await getArticleData();
  return pageSplit(data).map(({ data, index, length }) => {
    return {
      params: { index: index },
      props: {
        index: index,
        length: length,
        keywords: getRelatedTopics(data.flatMap((article) => article.topics)).slice(0, 5),
        data: data.map((article) => {
          return {
            slug: article.slug,
            title: article.frontmatter.title,
            emoji: article.frontmatter.emoji,
          };
        }),
      },
    };
  });
};
const { data, index, keywords, length } = Astro.props;
---

<Layout
  title={`${import.meta.env.SITE_NAME} - ${import.meta.env.SITE_CAPTION}`}
  description={import.meta.env.SITE_DESCRIPTION}
  type="WebSite"
  keywords={keywords.map((topic) => topic.displayName)}
  robots="nosnippet"
  url={index === 1 ? astroURL(Astro).dir("..") : undefined}
>
  <main>
    <section>
      <h2>Articles</h2>
      <Articles type="list" data={data} />
    </section>
    <section>
      <Pagination index={index} length={length} />
    </section>
  </main>
</Layout>

<style>
  main {
    max-width: 960px;
    padding: 0 40px;
    margin: 0 auto;
  }

  @media (max-width: 576px) {
    main {
      padding: 0 20px;
    }
  }
</style>
