---
import "zenn-content-css";
import Articles from "../../../components/Articles.astro";
import Icon from "../../../components/Icon.astro";
import Pagination from "../../../components/Pagination.astro";
import Layout from "../../../layouts/Layout.astro";
import { astroURL } from "../../../lib/url";
import { getArticleData, getTopicsName, pageSplit } from "../../../lib/zenn";

export const getStaticPaths = async () => {
  const articles = await getArticleData();
  const topics = await getTopicsName();
  return topics.flatMap((topic) => {
    const data = articles.filter((article) => {
      return article.topics.map((topic) => topic.name).includes(topic.name);
    });

    return pageSplit(data).map(({ data, index, length }) => {
      return {
        params: { index: index, topic: topic.name },
        props: {
          topic: topic,
          index: index,
          length: length,
          data: data.map((article) => {
            return {
              slug: article.slug,
              title: article.frontmatter.title,
              emoji: article.frontmatter.emoji,
            };
          }),
        },
      };
    });
  });
};

const { topic, data, length, index } = Astro.props;
---

<Layout
  title={topic.displayName}
  description={`${topic.displayName}の記事一覧`}
  keywords={[topic.displayName, "記事一覧"]}
  url={index === 1 ? astroURL(Astro).dir("..") : undefined}
>
  <header>
    <div class="header-content">
      <div class="header-emoji">
        <Icon topic={topic} />
      </div>
      <h1>{topic.displayName}</h1>
    </div>
  </header>
  <main>
    <section>
      <h2>Articles</h2>
      <Articles type="list" data={data} />
    </section>
    <section>
      <Pagination index={index} length={length} />
    </section>
  </main>

  <style>
    header {
      background-color: #ffffff;
    }

    h2 {
      margin-top: 40px;
    }

    .header-content {
      max-width: 960px;
      padding: 30px 40px 50px 40px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 30px;
    }

    .header-emoji {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #e4edf4;
    }

    @media (max-width: 375px) {
      .header-emoji {
        display: none;
      }
    }

    main {
      max-width: 960px;
      padding: 0 40px;
      margin: 0 auto;
    }

    @media (max-width: 576px) {
      main {
        padding: 0 20px;
      }
    }
  </style>
</Layout>
