---
import "zenn-content-css";
import Articles from "../../../components/Articles.astro";
import Emoji from "../../../components/Emoji.astro";
import Pagination from "../../../components/Pagination.astro";
import Layout from "../../../layouts/Layout.astro";
import { topicsConfig } from "../../../lib/topics";
import { getArticleData, getTopics, pageSplit } from "../../../lib/zenn";

export const getStaticPaths = async () => {
  const articles = await getArticleData();
  const topics = await getTopics();
  return topics.flatMap((topic) => {
    const data = articles.filter((article) => {
      const articleTopics = article.frontmatter.topics;
      return articleTopics.includes(topic) || article.frontmatter.type === topic;
    });

    return pageSplit(data).map(({ data, index, length }) => {
      return {
        params: { index: index, topic: topic },
        props: {
          topic: topic,
          index: index,
          length: length,
          data: data.map((article) => {
            return {
              slug: article.slug,
              title: article.frontmatter.title,
              emoji: article.frontmatter.emoji,
            };
          }),
        },
      };
    });
  });
};

const { topic, data, length, index } = Astro.props;
---

<Layout
  title={topic}
  description={`${topic}の記事一覧`}
  keywords={[topic]}
  canonical={index === 1 ? new URL(".", Astro.url) : Astro.url}
>
  <header>
    <div class="header-content">
      <div class="header-emoji">
        <Emoji emoji={topicsConfig(topic)} />
      </div>
      <h1>{topic}</h1>
    </div>
  </header>
  <main>
    <section>
      <h2>Articles</h2>
      <Articles type="list" data={data} />
    </section>
    <section>
      <Pagination index={index} length={length} />
    </section>
  </main>

  <style>
    header {
      background-color: #ffffff;
    }

    h2 {
      margin-top: 40px;
    }

    .header-content {
      max-width: 960px;
      padding: 30px 40px 50px 40px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 30px;
    }

    .header-emoji {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #e4edf4;
    }

    @media (max-width: 375px) {
      .header-emoji {
        display: none;
      }
    }

    main {
      max-width: 960px;
      padding: 0 40px;
      margin: 0 auto;
    }
  </style>
</Layout>
